**/.git
**/.github
**/.gitignore

**/.vscode
**/.idea

**/__pycache__/
*.py[cod]
*$py.class
*.so
**/.mypy_cache

**/.pytest_cache
**/.tox
**/.coverage
**/.coverage.*
htmlcov/
.venv
venv

**/.DS_Store
.AppleDouble
.LSOverride
._*

**/.eggs
**/.python-version
**/*.egg-info
**/*.bak
**/*.db
**/*.sqllite
**/*.swp

**/.terser-plugin-cache/
**/.storybook/
**/node_modules/
**/devdata
