// This Content is Auto Generated
const prefix = `${import.meta.env.VITE_API_BASE_URL}`

export const API_ROUTES = { {% for path in paths.static_paths %}{% if path.router_camel %}
  {{ path.router_camel }}: `${prefix}{{path.prefix}}{{ path.route }}`,{% endif %}{% endfor %}
{% for path in paths.get_paths  %}{% if path.router_camel %}
  {{path.router_camel}}: ({{path.var|join(": string, ")}}: string) => `${prefix}{{path.prefix}}{{ path.js_route }}`,{% endif %}{% endfor %}
} as const

export type ApiRoutes = typeof API_ROUTES

